<!DOCTYPE html>
<html>
    <head>
        <title>mimic</title>
        <link   rel="stylesheet"
                type="text/css"
                href="../static/style.css">
    </head>
    <body>
      <div class ="body">
        <div class="top">
            <h1>TypeScript</h1>
        </div>
        <div class="middle">
            <h2 class="heading">
                WHAT IS TYPESCRIPT?
            </h2>
            <p>
                    TypeScript is a language that adds additional features to Javascript, improving the quality 
                and legibility of your code. As the name suggests, you are meant to heavily use types throughout 
                your code which helps you catch minor errors. Specifically it is a superset of JavaScript, meaning 
                that any legal javascript code is also legal typescript code. However, this doesn’t work the other 
                way around since TypeScript is a typed superset and adds additional rules to the JavaScript syntax. 
                TypeScript is both dynamically and statically typed. One of the most prominent aspects of TypeScript is 
                the ability to do static type checking. Static type checking basically analyzes the code to hint at 
                potential errors without having to run the program. With these features, TypeScript can be viewed as 
                more of a development tool than another coding language. If it spots an error, it will send a message 
                on the terminal similar to how the javac compiler does.
            </p>
        </div>
        <div class="bottom">
            <h3>Copyright @ 2015 Clyde "Thluffy" Sinclair</h3>
        </div>
      </div>
    </body>
</html>
